.App{
  background: rgb(80,84,92);
background: radial-gradient(circle, rgba(80,84,92,1) 0%, rgba(7,26,47,1) 100%);
}
input{
  background-color: #DCDCDC;
  height: 20px;
}
.header{
  background: rgb(80,84,92);
  background: radial-gradient(circle, rgba(80,84,92,1) 0%, rgba(7,26,47,1) 100%); 
}